.hidden {
  display: none !important;
}

body {
  overflow: hidden; /* Prevents scrollbars on the body */
}

main {
  position: relative;
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

#starting-screen {
  background-image: url("medias/cheesy_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(141, 141, 194);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 500px;
}
